/* Base HTML Styles */
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Rubik:ital,wght@0,400;0,700;1,400&display=swap");
:root {
  --brand: #94a593;
  --action: #ffa300;
  --white: #ffffff;
  --base-light: #cdb5df;
  --base-dark: #0d0711;
  --black: #111111;
}

/* CSS Reset */
html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Calibri", sans-serif;
  color: var(--black);
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik", sans-serif;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}
ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
input,
button,
textarea,
select,
small {
  font: inherit;
}

body{
    background-color: var(--brand);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    width: 100%;
}

header section, header nav ul{
    display: flex;
    align-items: baseline;
    gap: 10px;
}

header section nav ul a{
    margin-left: 0.5rem;       /* spacing between text and link */
    color: var(--black);
    text-decoration:underline;
    display: inline-block;
}

nav.desktop{
    font-weight: bold;
    border-bottom: 2px;
}

.main-photo {
    display: flex;
    align-items: center;
    margin: 3rem;   
    margin-bottom: unset;
}

footer {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

.socials{
    width: 30px;
    height: 30px;
}

@media (min-width: 768px) {
    .main-photo {
        display: flex;
        justify-content: center;
    }
}

/*.about-section{
  display: block;
  padding: 2rem;
  margin: 2rem;
}*/
.question-group{
  display: block;
  padding: 1rem;
  margin: 1rem;
  margin-top: 0px;

}

.question input, .question label, .question textarea{
  width: 100%;
}

.contact-me h2{
  display: block;
  padding: 1rem;
  margin: 1rem;
  margin-bottom: 0px ;
  padding-bottom: 0px;
}

.about-section {
  padding: 1rem;
  margin: 1rem;
  margin-bottom: 0px ;
  padding-bottom: 0px;
  line-height: 1.5;
  text-align: justify;
}

section form button {
  margin: .5rem 0rem;
  background-color: white;
  border: none;
} 

