/* Base HTML Styles */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oranienbaum&display=swap');
:root {
  --brand: #94a593;
  --action: #ffa300;
  --white: #ffffff;
  --base-light: #cbd6ca;
  --base-dark: #0d0711;
  --black: #111111;
}

/* CSS Reset */
html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Lato" , sans-serif;
  color: var(--black);
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "lato", sans-serif;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}
ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
input,
button,
textarea,
select,
small {
  font: inherit;
}

body{
    background-color: var(--brand);
    max-width: 800px;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    width: 100%;
}

header section, header nav ul{
    display: flex;
    align-items: baseline;
    gap: 10px;
}

header section nav ul a{
    margin-left: 0.5rem;       /* spacing between text and link */
    color: var(--black);
    text-decoration:underline;
    display: inline-block;
}

nav.desktop{
    font-weight: bold;
    border-bottom: 2px;
}
main{
  padding: 1rem;
  gap: 10px;
}

.main-photo {
    display: flex;
    align-items: center;
    margin: 3rem;   
    margin-bottom: unset;
}
section a.cursor :hover{
  filter: contrast(150%);
}

footer {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

.socials{
    width: 30px;
    height: 30px;
}

@media (min-width: 768px) {
    .main-photo {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 767px) {
    header {
        flex-direction: column;
        gap: 10px;
    }
    .about-section p {
        align-items: center;
        text-align: justify;

    }
    .about-section {
        flex-direction: column;
        align-items: center;
        gap: 0px;
    }
    .projects-showcase {
        flex-direction: column;
        align-items: center;
    }
    .projects-showcase:hover {
    background-color: white
    }
}

.question-group{
  display: block;
  padding: 1rem;
  margin: 1rem;
  margin-top: 0px;
}

.question input, .question label, .question textarea{
  width: 100%;
}

.question input, .question textarea{
  background-color: var(--base-light);
}

.contact-me h2{
  display: block;
  padding: 1rem;
  margin: 1rem;
  margin-bottom: 0px ;
  padding-top: 0px;
  padding-bottom: 0px;
}

.about-section {
  background-color: var(--base-light);
  padding: 1rem;
  margin: 1rem;
  margin-bottom: 0px ;
  padding-bottom: 1rem;
  line-height: 1.5;
  text-align: left;
  display: flex;
  gap: 40px;
}

.hero  {
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    margin-bottom: 30px;
    column-gap: 30px;
    text-decoration: none;
    color: var(--black);
}
.hero {
  background-color: none;
  margin: 0;
}

.about-section img , .projects-showcase img {
    width: 100px;
    height: 100px;
}
.hero p {
    font-size: x-large;
    padding-left: 1rem;
    font-weight: 600;
}

section form button {
  margin: .5rem 0rem;
  background-color:var(--base-light);
  border: none;
}

.projects-showcase {
    background-color: var(--base-light);
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: justify;
    padding: 1rem;
    margin: 1rem;
    margin-bottom: 30px;
    column-gap: 30px;
    text-decoration: none;
    color: var(--black);
}
.projects-showcase:hover {
    background-color: white
}

header nav ul a:hover {
    color: var(--base-light);
}

.skills {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 1rem;
    margin: 1rem;
    margin-bottom: 0px ;
    margin-top: 1rem;
    padding-top: 1rem;
}
.skills img {
    width: 60px;
    height: 60px;
}
